@page
@model BookStoreRazor.Pages.Categories.EditCategoryModel

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input asp-for="Category.Id" hidden />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group p-1">
                <label asp-for="Category.Name" class="control-label"></label>
                <input asp-for="Category.Name" class="form-control" />
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>
            <div class="form-group p-1">
                <label asp-for="Category.DisplayOrder" class="control-label"></label>
                <input asp-for="Category.DisplayOrder" class="form-control" />
                <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
                <a asp-page="/Categories/Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

