@model BookStoreCore.Models.Category

@{
    ViewData["Title"] = "CreateCategory";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient py-3 ">
        <div clsss="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> Create Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form  class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group p-1">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group p-1">
                <label asp-for="DisplayOrder" class="control-label"></label>
                <input asp-for="DisplayOrder" class="form-control" />
                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-controller="Category" asp-action="Index" class="btn btn-outline-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
